@page "/ricette"

<div class="main">
	<h2>Blazing Ricette</h2>
	<ul class="ricetta-cards">
		@foreach(var ricetta in ricettas)
		{
			<li style="background-image: url(@ricetta.ImageUrl)">
				<div class="ricetta-info">
					<span class="title">@ricetta.Name</span>
						@ricetta.Description
					<span class="price">@ricetta.BasePrice</span>
				</div>
			</li>
		}
		</ul>
</div>

@code {

	List<Ricetta> ricettas = new();

	protected override void OnInitialized()
	{
		ricettas.AddRange(new List<Ricetta>
		{
			new Ricetta { Name = "The Baconatorizor", BasePrice =  11.99M, Description = "It has EVERY kind of bacon", ImageUrl="img/pizzas/bacon.jpg"},
			new Ricetta { Name = "Buffalo chicken", BasePrice =  12.75M, Description = "Spicy chicken, hot sauce, and blue cheese, guaranteed to warm you up", ImageUrl="img/pizzas/meaty.jpg"},
			new Ricetta { Name = "Veggie Delight", BasePrice =  11.5M, Description = "It's like salad, but on a pizza", ImageUrl="img/pizzas/salad.jpg"},
			new Ricetta { Name = "Margherita", BasePrice =  9.99M, Description = "Traditional Italian pizza with tomatoes and basil", ImageUrl="img/pizzas/margherita.jpg"},
			new Ricetta { Name = "Basic Cheese Pizza", BasePrice =  11.99M, Description = "It's cheesy and delicious. Why wouldn't you want one?", ImageUrl="img/pizzas/cheese.jpg"},
			new Ricetta { Name = "Classic pepperoni", BasePrice =  10.5M, Description = "It's the pizza you grew up with, but Blazing hot!", ImageUrl="img/pizzas/pepperoni.jpg" }
		});
	}

}
